<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="crt">
    <div id="space">
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
        <div class="stars"></div>
    </div>
    <p>Hey, you. You're finally awake.</p>
    {{/*- partial "header.html" . -}}
    <div id="content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -*/}}
    {{- partial "script.html" . -}}
</body>

</html>