<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script>
    function shuffle(array) {
        let currentIndex = array.length, randomIndex;

        // While there remain elements to shuffle.
        while (currentIndex > 0) {

            // Pick a remaining element.
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;

            // And swap it with the current element.
            [array[currentIndex], array[randomIndex]] = [
                array[randomIndex], array[currentIndex]];
        }

        return array;
    }
    
    let quotes = [
        "I'm Commander Shepard, and this is my favorite store on the Citadel!",
        "It's time to kick ass and chew bubble gum…and I’m all outta gum.",
        "What is a man? A Miserable little pile of secrets!",
        "You were almost a Jill sandwich!",
        "Whaddya Buyin?",
        "The cake is a lie.",
        "Hey! Listen!",
        "Do a barrel roll!",
        "Stop right there criminal scum!",
        "The right man in the wrong place can make all the difference in the world.",
        "War... war never changes",
        "Nothing is true, everything is permitted.",
        "It’s dangerous to go alone, take this!",
        "Endure and survive.",
        "Praise the sun!",
        "Do you like hurting other people?",
        "I used to be an adventurer like you until I took an arrow to the knee.",
        "Snake? SNAAAAAAAKE!!!",
        "Grass grows, birds fly, the sun shines, and brother, I hurt people.",
        "Thank you, Mario! But our Princess is in another castle!",
        "You have died of dysentery.",
        "Dreams have a nasty habit of going bad when you’re not looking.",
        "Don’t make a girl a promise if you know you can’t keep it.",
        "You can’t hide from the Grim Reaper. Especially when he’s got a gun.",
        "I like shorts! They’re comfy and easy to wear!",
        "I never asked for this.",
        "What is bravery, without a dash of recklessness?",
        "You’ve met with a terrible fate, haven’t you?",
        "Stand in the ashes of a trillion dead souls and ask the ghosts if honor matters. Their silence is your answer.",
        "A hero need not speak. When he is gone, the world will speak for him.",
        "It ain’t no secret I didn’t get these scars falling over in church.",
        "Love is just a chemical. We give it meaning by choice.",
        "NOTHING IS MORE BADASS THAN TREATING A WOMAN WITH RESPECT!",
        "You require more vespene gas.",
        "Not enough minerals.",
        "Frostmourne hungers.",
        "Ah shit, here we go again.",
        "Wake the fuck up, samurai! We have a city to burn!",
        "Hey, you, you're finally awake.",
        "Remember, no Russian.",
        "Where’s Everyone Going? Bingo?",
        "Did I Ever Tell You The Definition Of Insanity?",
        "You died",
        "Sir. Finishing This Fight."
    ];

    shuffle(quotes);

    new Typewriter('p', {
        strings: quotes,
        autoStart: true,
        skipAddStyles: false,
        delay: 75,
    });
</script>