html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  height: 100vh;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

p {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
  font: 1.0rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

p::after {
  content: "";
  width: 10px;
  height: 1rem;
  background: #fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 1rem;
  }  

  p::after {
    width: 5px;
  }
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1.5rem;
  }

  p::after {
    width: 8px;
    height: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  p {
    font-size: 2rem;
  }

  p::after {
    width: 10px;
    height: 2rem;
  }
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
