html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

img {
  max-width: 66%;
  max-height: 66%;
}