html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  height: 100vh;
}

p {
  color: #0FFF50;
  font-size: 2rem;
}